* {
  margin: 0px;
  padding: 0px;
}

@keyframes weeklya {
    0% {
        margin: 2vh 17vh 2vh 17vh;
    }

    50% {
        margin: 1vh 15vh 1vh 15vh;
    }

    100% {
        margin: 2vh 17vh 2vh 17vh;
    }
}

/* Desktop */

@media only screen and (min-width: 601px) {

  header {
      background: url("/media/banners/peacock.jpg");
      height: 50vh;
      display: flex;
      justify-content: center;
  }
    
  nav {
    width: 100%;
    box-shadow: 0 4px 2px -2px gray;
    position: fixed;
    background-color: purple;
  }

  nav ul {
    display: flex;
    flex-direction: row;
  }

  nav ul li {
    list-style-type: none;
  }

  .nava {
    color: white;
    text-decoration: none;
    margin: 0vh 1vh 0vh 1vh;
    padding: 3vh;
  }

  .navaon {
    background-color: skyblue;
    color: black;
    text-decoration: none;
    margin: 0vh 1vh 0vh 1vh;
    padding: 3vh;
  }

  .nava:hover {
    background-color: skyblue;
    color: black;
  }

  .headdiv {
      text-align: center;
  }

  .headh2 {
      /* margin-top: 1vh; */
      padding: 10vh;
      padding-bottom: 10px;
      background-color: white;
      /* margin-left: 33%; */
      width: 50vh;
      text-align: center;
  }

  .weeklycontainer {
      display: flex;
      justify-content: center;
      margin-top: 5vh;
  }

  .weekly {
    box-shadow: 5px 5px 5px grey;
    width: 75vh;
    text-align: center;
    border: solid 2px black;
    height: 75vh;
    margin-bottom: 2vh;
    display: flex;
    flex-direction: column;
  }

  .weeklyh2 {
    background-color: green;
    color: white;
    margin: 1vh;
  }

  footer {
      width: 100%;
      background-color: purple;
      color: white;
      text-align: center;
  }

  .weeklya {
      text-decoration: none;
      background-color: goldenrod;
      color: black;
      margin: 2vh 17vh 2vh 17vh;
      padding: 3vh;
      /* position: fixed; */
  }

  .weeklya:hover {
      animation: weeklya .5s forwards;
  }
}

/* Mobile */

@media only screen and (max-width: 600px) {
}
